// https://codyhouse.co/ds/globals/colors
// https://github.com/dracula/dracula-theme/

@mixin dark-theme {
    --theme-name: "dark";
    @include defineColorHSL(--color-primary, $primaryColorDarkH, $primaryColorDarkS, $primaryColorDarkL);
    @include defineColorHSL(--color-bg, 231, 14%, 10%);
    @include defineColorHSL(--color-contrast-lower, 230, 12%, 18%);
    @include defineColorHSL(--color-contrast-low, 240, 2%, 37%);
    @include defineColorHSL(--color-contrast-medium, 80, 2%, 69%);
    @include defineColorHSL(--color-contrast-high, 69, 9%, 84%);
    @include defineColorHSL(--color-contrast-higher, 60, 6%, 90%);
    @include defineColorHSL(--color-myicon, 233, 5%, 16%);
    .theme-icon-light {
        display: none;
    }
    .theme-icon-dark {
        display: inline-block;
    }
    img {
        filter: brightness(75%);
    }

    @if ($enableHighlight) {
        /* https://xyproto.github.io/splash/docs/all.html */
        /* Color values matching 自定义 style */
        --chroma-line-numbers-background: #ffffcc; // LineHighlight
        --chroma-line-numbers-color: #7f7f7f; // LineNumbersTable
        --chroma-keyword-color: #669df0; // Keyword
        --chroma-name-color: #be87eb; // NameDecorator
        --chroma-attribute-color: #e96db9; // NameTag
        --chroma-literal-color: #0086d2; // LiteralString
        --chroma-number-color: #e9ab63; // LiteralNumber
        --chroma-comment-color: #6272a4; // Comment
        --chroma-deleted-color: #8b080b; // GenericDeleted
        --chroma-output-color: #444444; // GenericOutput
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme])
    {
        @include dark-theme;
    }
}

@if $defaultTheme == dark {
    :root {
        @include dark-theme;
    }
}
@else {
    :root[data-theme="dark"] {
        @include dark-theme;
    }
}
